* {
    font-family:'Times New Roman', Times, serif;
}

body {
    background-color:darkslategray;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 250px;
    font-size: 64px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.recipes ul {
    list-style-type: none;
    padding: 0;
}


.recipes li {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

a {
    color: white;
}